body {
    background: #333;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

article {
    background: #fff;
    padding: 20px 40px;
}

img {
  width: 100%;
}

h2 {
  text-align:center;
  position: relative;
}

header {
  background: #3C75DE;
  color: #fff;
  float: center;
  text-align: left;
  position: relative;
  width: auto;
  padding-left: 20px;
}

footer {
  text-align: center;
  position: relative;
  padding: 20px 40px;
}

#cougar {
  background: #1479A1;
  width: 50%;
  margin: 100px auto;
}

#lion {
  background: #424062;
  width: 50%;
  margin: 50px auto;
}

#tiger {
  background: #5450E1;
  width: 50%;
  margin: 50px auto;
}

/* --- links and nav --- */

a { color: #379CB2; }
a:hover { color: #82E8FF; }

/*nav styles*/

nav {
  float:right;
}
nav ul {
  list-style: none;
  margin-top: 0;
  padding-right: 20px;
}
nav li {
  float:left;
  margin-left: 20px;
}
